* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  color: #382AE1;
}

@media (hover: hover) {
  a:hover {
    text-decoration: none;
    color: #766CF1;
  }
}

body {
  position: relative;
  background-color: #E0E8FF;
  margin: 0;
  padding: 0;
  font-family: 'Red Hat Display', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 71px 24px 71px 24px
}

.vector-mobile {
  position: absolute;
  z-index: -1;
  bottom: 450px;
}

@media screen and (width > 768px) {
  .vector-mobile {
    width: 1440px;
    height: 437px;
  }
}

.card {
  width: 327px;
  height: 567px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: #f7f9ff;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ilustration-header {
  width: 327px;
  height: 160px;
  margin-bottom: 32px;
  border-radius: 20px 20px 0 0;
}

.title-header {
  font-size: 22px;
  font-weight: 900;
  color: #1f2e55;
  margin: 0;
}

.text-header {
  font-size: 15px;
  font-weight: 500;
  color: #717fa6;
  line-height: 25px;
  text-align: center;
  padding-left: 32px;
  padding-right: 32px;
}

.box-plan {
  position: relative;
  width: 279px;
  height: 81px;
  border-radius: 11px;
  background-color: #f7f9ff;
  margin: 0 24px 24px 24px;
}

.icon-plan {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 15px;
  left: 15px;
}

.text-plan {
  position: absolute;
  font-size: 14px;
  font-weight: 900;
  color: #1f2e55;
  top: 10px;
  left: 80px;
}

.text-price {
  position: absolute;
  font-size: 14px;
  font-weight: 500;
  color: #717fa6;
  top: 30px;
  left: 80px;
}

.change-plan {
  position: absolute;
  font-size: 13px;
  font-weight: 700;
  top: 30px;
  left: 210px;
}

.box-payment {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cta-payment {
  width: 279px;
  height: 50px;
  font-weight: 700;
  font-size: 15;
  color: white;
  background-color: #382ae1;
  border-radius: 11px;
  padding: 15px 65px 15px 64px;
  text-align: center;
  padding: 15px 0;
  margin-bottom: 24px;
  box-shadow: 0 20px 20px rgb(56, 42, 225, 0.2);
}

@media (hover: hover) {
  .cta-payment:hover {
    width: 279px;
    height: 50px;
    font-weight: 700;
    font-size: 15;
    color: white;
    background-color: #766CF1;
  }
}

.text-payment {
  font-size: 15px;
  font-weight: 900;
  color: #717fa6;
}

@media (hover: hover) {
  .text-payment:hover {
    color: #1F2E55;
  }
}
